<!-- 요약 페이지 -->
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Main Page
        </title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet"href="{{url_for('static', filename='css/starter-template.css')}}" >
        <link rel="stylesheet" href="{{url_for('static', filename='css/navibar.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
        <!-- <link rel="stylesheet" href="/css/jquery-ui.min.css"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/> -->
        <!-- script -->
        <!-- <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> -->
        <!-- <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="{{url_for('static', filename='js/bootstrap-datepicker.kr.js')}}" charset="UTF-8"></script>
        <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
        <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        <script src="plotly-2.11.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
        <script type='text/javascript'>
        $(function(){
            $('.input-group.date').datepicker({
                calendarWeeks: false,
                todayHighlight: true,
                autoclose: true,
                format: "yyyy/mm/dd",
                language: "kr"
            });
        });
        </script>
  
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('wealth') }}">자산상세</a>
            <a href="{{ url_for('logout') }}">로그아웃</a>
        </div>

                <div style="float: left;width:20;height: 800;" ></div>
                <div style="float: left;" >
                    <div style="padding: 0 12">
                        <h1 style="padding:20 0">어서오세요! {{name}}님!</h1>
                        <form action="{{ url_for('income_datepicker') }}" method="get" target="_blank">
                            <input type="hidden" id="jwt" name="jwt" value="{{jwt}}">
                            <div style="vertical-align: middle; margin-bottom: 25;">
                                
                                <span>{{payday_ment}}</span>

                                <a id="access_token" class=" login100-form-btn " href="https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type=code&client_id=fde4d72d-e26b-492c-9d66-d7ef9014cd59&redirect_uri=http://localhost:5000/user/openBanking&scope=login inquiry transfer&state=8380482228e75045a7d14e063bde014b&auth_type=0">
                                    <button type="button" class="btn btn-outline-secondary" style="float: right; margin-left: 10;"> 계좌 추가</button>    
                                </a>
                                          
                                <input style="float: right;" type="submit" value="월급일 입력">
                                    <!-- <button class="btn btn-primary" onclick="window.open('http\://127.0.0.1:5000/main/income_page','월급일 입력창','width=430,height=500,location=no,status=no,scrollbars=yes');"> 급여일 설정 </button> -->
                           
                            </div>
                        </form>

                    </div>
                    <!-- style="border: 2px solid #0575E6;" -->
                    <div id="isbox"> 
                        <div style="float: left;"> 
                            <div style="padding: 20 10;">
                                <h3>모든 계좌 잔액</h3>
                                <h3 style="margin-bottom:20;">{{money_dict.amt_sum}} 원</h3>
                                <h3>지난 30일간 수입</h3>
                                <h3 style="margin-bottom:20;">{{money_dict.income}} 원</h3>
                                <h3>지난 30일간 지출</h3>
                                <h3 style="margin-bottom:20;">{{money_dict.outcome}} 원</h3>
                            </div>
                        </div>  
                       
                        <div style="float: left;"> 
                        
                            <div style="float: left;height: 600;border-left : 2px solid #0575E6 ; padding: 20 0 30 10;overflow:auto;" >
                                {% for account in account_info %}
                                    <div style="margin-bottom: 20px;">
                                        <span style="font-size: large;">{{account.bank_name}}</span> {{account.account_num_masked}}</br>
                                        <h3 tyle="margin-bottom:20;">{{account.balance_amt}} 원</h3>
                                    </div>
                                {% endfor %}
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- <div style="float: left;width:15%;height: 800;" ></div> -->
                <div style="float: right;" >
                    <div style="margin-top: 50;"></div>

                    <div id='pieChart' style="margin-left:auto;margin-right: auto;" ></div>
                  
                        <script>
                            var data = [
                            {
                            "type": "sunburst",
                            "labels": {{labels_list| safe}},
                            "parents": {{parents_list| safe}},
                            "values":{{values_list| safe}},
                            "leaf": {"opacity": 0.4},
                            "marker": {"line": {"width": 2}},
                            "branchvalues": 'total'
                            }];
                            var layout = {
                            "margin": {"l": 0, "r": 0, "b": 0, "t": 0},
                            height: 800 ,
                            width: 800,
                            };
                            var config = {responsive: true}
                            Plotly.newPlot('pieChart', data, layout,  config, {showSendToCloud: true})
                            myPlot = document.getElementById("pieChart");
                        </script>
                    </div>
                </div>
                <div style="float: right;width:15%;height: 800;" ></div>
           
        
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>