/* Add a #0575E6 background color to the top navigation */
.topnav {
    background-color: #0575E6;
    overflow: hidden
    ;
  }
  

  
  /* Change the color of links on hover */
  /* .chart_detail{
    
    float: right;
    text-align: center;
    margin:auto;
    font-size: 17px;
  } */


  .topnav a:hover{
      background-color: #ffa600;
      text-align: center;
      margin:auto;
  }



  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  




  