/* div {
  border: 1px solid black;
} */

p{
  margin-left: 20px;
}


/* #plotly{
  padding:10px;
  height:10%;
} */

.button{
  float: right;
  text-align: center;
  padding-bottom: 10%;

}

.button {
	outline: none !important;
	border: none;
	background: transparent;
  float: right;
  text-align: right;
  padding-bottom: 5%;
}

.trade_show{
  margin: auto;
  text-align: center;
  height: 500px;

}

.scroll_area{
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: left;
}

.scroll_box{
  display: inline-block;
  overflow: auto;
  overflow-x: hidden;
  width: 95%;
  height: 300px;
  margin: auto;
}

.scroll_box::-webkit-scrollbar {
  width: 5px;
}

.scroll_box::-webkit-scrollbar-thumb{
  background-color: #707070;
  border-radius: 10px;
}

.scroll_box::-webkit-scrollbar-track{
  background-color: #aaaaaa;
  border-radius: 10px;
}



/* navBar */
.topnav {
  background-color: #0575E6;
  overflow: hidden
  ;
}



.topnav a:hover{
    background-color: #ffa600;
    text-align: center;
    margin:auto;
}



.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



/* content */
.tran_date {
  text-align: left;
  font-size: 11px;
}
.input_type{
  text-align: right;
  font-size: 11px;
}

.print_content {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.tran_amt{
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

