<!DOCTYPE html>
<!-- 예시 코드 -->
<html>

<head>
    <title>ginkgo</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wealth_detail.css') }}">
    <link rel="shortcut icon" href="">
</head>

<body>
    <!-- 차트 영역 -->
    <div id="plotly">
        <script>
            var data = {{data | safe}};
            Plotly.plot("plotly", data ,{});
        </script>
    </div>

    <!-- 고정 거래 찾기 버튼-->
    <divd >
        <button type="button" id="button">
            고정 거래 찾기
        </button>
    </div>

    <!-- 거래 표시 영역 -->
    <div class="trade_show">
        <br>
        <hr class="v_line">
        <!-- 일반 거래 -->
        <div class="scroll_area">
            <p>일반 거래 영역</p>
            <hr>
            <div class="scroll_box">
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
            </div>
        </div>

        <hr class="v_line">
    
        <!-- 고정 거래 -->
        <div class="scroll_area">
            <p>고정 거래 영역</p>
            <hr>
            <div class="scroll_box">
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
                content content content content content content 
            </div>
        </div>
        <hr class="v_line">
    </div>

</body>    

</html>