<!DOCTYPE html>
<!-- 예시 코드 -->
<html>

<head>
    <title>ginkgo</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wealth_detail.css') }}">
    <link rel="shortcut icon" href="">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    
    <!-- plotly -->
</head>

<body>
    <!-- navbar -->
    <div class="topnav">
        <a class="chart_detail"href="{{ url_for('main_page') }}">자산 요약</a> 
        <a class="chart_detail"href="{{ url_for('logout') }}">로그아웃</a> 
    </div>

    <!-- 차트 영역 -->
    <div id="plotly">
        <div id="lineChart" ></div>
        <script>
            var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter'
            };

            var trace2 = {
            x: [1, 2, 3, 4],
            y: [16, 5, 11, 9],
            type: 'scatter'
            };

            var data = [trace1, trace2];

            Plotly.newPlot('lineChart', data);
        </script>
    </div>

    <!-- 고정 거래 찾기 버튼-->
    <div class="button">
        <button type="button" class="btn btn-md-prymary">
            고정 거래 찾기
        </button>
    </div>

    <div>
        <br><br>
    </div>



    <!-- 거래 표시 영역 -->
    <div class="trade_show">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="border-left : 2px solid #0575E6 ; border-right: #0575E6 2px solid; " ><!--padding: 20 0 30 10;-->
            <!-- 일반 거래 -->
            <div class="scroll_area">
                <p>일반 거래 영역</p>
                <div class="scroll_box">
                    <div class="col-sm-6 tran_date">tran_date</div>
                    <div class="col-sm-6 input_type" >input_type</div>
                    <div class="col-sm-6 print_content">print_content</div>
                    <div class="col-sm-6 tran_amt">tran_amt</div>
                </div>
            </div>
        </div>

        <!-- <hr class="v_line"> -->
    
        <!-- 고정 거래 -->
        <div class="col-sm-3" style="border-right : 2px solid #0575E6 ;" ><!--overflow:auto; padding: 20 0 30 10; -->
            <div class="scroll_area">
                <p>고정 거래 영역</p>
                    <div class="scroll_box">
                        <div class="col-sm-6 tran_date">tran_date</div>
                        <div class="col-sm-6 input_type" >input_type</div>
                        <div class="col-sm-6 print_content">print_content</div>
                        <div class="col-sm-6 tran_amt">tran_amt</div>
                    </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

</body>    

</html>