<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test</title>
        <script src="plotly-2.11.1.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
    </head>
    <body>
        <h1>
            이런저런말말말
        </h1>
        <div id="tester" style="width:600px;height:250px;"></div>
        <script src="{{ url_for('static',filename='js/line_chart.js') }}"></script>
        <script>
            var trace1 = {
            x: {{t1_x}},
            y: {{t1_y}},
            type: 'scatter'
            };

            var trace2 = {
            x: {{t2_x}},
            y: {{t2_y}},
            type: 'scatter'
            };

            var data = [trace1, trace2];

            Plotly.newPlot('tester', data);
        </script>

        <div id="sunburst" style="width:600px;height:250px;"></div>
        <script src="{{ url_for('static',filename='js/sunburst_chsrt.js') }}"></script>

    </body>
</html>