<!DOCTYPE html>
<html lang="ko">
<head>
	<title>GINKGO</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/css/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/util.css')}}>
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<form action="https://n5dbtf6emg.execute-api.us-east-1.amazonaws.com/dev/user/openBanking" method="post">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">
					<form class="login100-form validate-form flex-sb flex-w">
						<span class="login100-form-title p-b-51">
							오픈뱅킹 인증하기
						</span>

						<!-- <a href="/user/cookie">click</a> -->

						<div class="container-login100-form-btn m-t-17" style="margin: auto;">
							<a id="access_token" class=" login100-form-btn " href="https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type=code&client_id=fde4d72d-e26b-492c-9d66-d7ef9014cd59&redirect_uri=http://https://n5dbtf6emg.execute-api.us-east-1.amazonaws.com/dev/user/openBanking&scope=login inquiry transfer&state=8380482228e75045a7d14e063bde014b&auth_type=0">
								<button class="login100-form-btn" type="button">
									Openbanking Token
								</button>
							</a>
							
						</div>
						<span class="flex-sb-m w-full p-t-3 p-b-24 p-b-20">
							<!-- 인증 error 출력 -->
							{{ result }}
						</span>
						



						
					</form>
				</div>
			</div>
		</form>
		
	</div>
	
	<script type="text/javascript">
		
    </script>

</body>
</html>