<!DOCTYPE html>
<html lang="ko">
<head>
	<title>GINKGO</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../static/css/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/util.css')}}>
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/main.css')}}>
<!--===============================================================================================-->
</head>

<body>
	
	<div class="limiter">
		
		<form action="http://localhost:5000/user/register" method="post">

		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90" >
				<span class="login100-form-title p-b-51" >
					<img style="margin-top: -30%;" src= {{url_for('static', filename='image/GINKGO_alpha.png')}} >
				</span>
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						Register
					</span>

					
					
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
							

						</div>
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
							<input type="text" class="form-control input100" id="email" placeholder="email" name="email">
							<span class="focus-input100"></span>
						</div>
						
						
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input type="password" class="form-control input100" id="pwd" placeholder="password" name="password">
							<span class="focus-input100"></span>
							<!-- 비밀번호는 8~12 자리 입니다. -->
						</div>
						<div class="text" >
							
							비밀번호는 8~12 자리 입니다.
						</div>
						<span class="flex-sb-m w-full p-t-3 p-b-24 p-b-20">
							<!-- 회원가입 error 출력 -->
							{{ result }}
						</span>
					
					<!-- 나중에 추가 예정 -->
					<!-- <div class="flex-sb-m w-full p-t-3 p-b-24">
						<div>
							<a href="#" class="txt1">
								아이디/비밀번호 찾기
							</a>
						</div>
					</div> -->


					<!-- <button type="submit" class="btn btn-primary" style="float:right" id="login">로그인</button> -->

						<div class="container-login100-form-btn m-t-17">
							<button class="login100-form-btn" type="submit">
								Register
							</button>
						</div>

					
						<div class="flex-sb-m w-full p-t-3 p-b-24" style="margin: center;">
							<div>
								<a href="{{ url_for('login') }}" class="txt1">
									로그인
								</a>
									하러가기
							</div>
						</div>
			</div>
		</div>

		</form>
		
	</div>
	

	<!-- <script src="../../static/js/main.js"></script> -->
    <script>

    </script>


</body>
</html>